.btn{
    width:150px;
}

#penseBete{
    width:50%;
    margin:0 auto;
    padding-top: 15px;
}

#cadreBouton{
    text-align: center;
    padding-bottom:10px;
}

#listeID{
    margin-top: 5%;
}

#errorBox{
    display: none;
}

.noteDeLaListe{
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
}

.noteDeLaListe:hover{
    cursor: pointer;
    color: #2658b7;
}

