.btn{
    width:150px;
}

#penseBete{
    width:50%;
    margin:0 auto;
    padding-top: 15px;
}

#cadreBouton{
    text-align: center;
    padding-bottom:10px;
}

#listeID{
    margin-top: 5%;
}

#errorBox{
    display: none;
}

.noteDeLaListe{
    border: solid 2px black;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

